<!DOCTYPE html>
<html>
    <head>
        <title>Some Website</title>
    </head>
    <body>
        <h1>We'll be right back.</h1>
        <p>The site is curently being updated.</p>
    </body>
</html>